<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to TOODOO!</h1>
        <p class="lead text-muted">
           An easy to use tool for organizing your todo lists! Best part is you don't have to be all alone, you can COLLABORATE!
        </p>
        <p>
            Invite your friends, collegues and family to start orginizing your activities!
        </p>
    </div>
</section>

<!--Loading-->
<ngx-loading [show]="loading"></ngx-loading>

<router-outlet></router-outlet>