<section class="jumbotron text-center bg-primary">
    <div class="container">
        <h1 class="jumbotron-heading text-white">Welcome to TOODOO!</h1>
        <p class="lead text-white">
            An easy to use tool for organizing your todo lists! Best part is you don't have to be all alone, you can COLLABORATE!
        </p>
        <p class="text-white">
            Invite your friends, collegues and family to start orginizing your activities!
        </p>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="mb-3 text-center text-primary">Create your TOODOO list</h4>

            <form [formGroup]="todoListForm" class="needs-validation" novalidate="" (validSubmit)="onSubmit()">
                <!--TodoList Name-->
                <div class="form-group">
                    <label for="name">
                        Todo list name:
                        <i class="text-danger">*</i>
                    </label>
                    <input formControlName="name" type="text" class="form-control" id="name">
                </div>

                <div formGroupName="creator">
                    <div class="form-group">
                        <label for="creator-email">
                            Your email:
                            <i class="text-danger">*</i>
                        </label>
                        <input formControlName="email" type="text" class="form-control" id="creator-email">
                    </div>
                </div>

                <!--Participants-->
                <div formArrayName="participants" class="well well-lg">
                    <h5
                        *ngIf="participants.controls.length"
                        class="mb-3 text-primary">
                        Excellent! You will have some help.
                    </h5>
                    <h5
                        *ngIf="!participants.controls.length"
                        class="mb-3 text-primary">
                        Perhaps some participants?
                    </h5>

                    <!--Participant i-->
                    <div *ngFor="let participant of participants.controls; let i=index" [formGroupName]="i" >
                        <div class="form-group">
                            <label for="{{email + i}}">Email {{i + 1}}:</label>
                            <div class="input-group mb-2">
                                <input formControlName="email" type="text" class="form-control" id="{{email + i}}">
                                <div class="input-group-append">
                                    <button (click)="removeParticipant(i)"
                                            class="btn btn-outline-secondary" type="button" title="Remove participant">X</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <button (click)="addParticipant()" class="btn btn-secondary btn-sm float-sm-right" type="button">
                            Add participant
                        </button>
                    </div>
                </div>

                <div class="buttons text-center mt-4">
                    <button [disabled]="todoListForm.pristine||todoListForm.invalid"
                            class="btn btn-primary btn-lg"
                            type="submit"
                            title="Create TodoList">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
